@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;800&display=swap');

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navButtons {
    list-style-type: none;
    
}


#navbar {
    display: flex;
    /* position: fixed; */
    /* flex: 1; */
    justify-content: space-around;
    padding: 0%;
    background-color: #19212c;
    color: white;
    gap: 80px;
}

.navButtons {
    display: flex;
    justify-content: space-around;
    gap:20px;
    padding: 10px;
    margin-right: 150px;

}

.headerLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex:1;
    margin-left: 150px;
}


#welcomeSection {
    display: flex;
    padding: 5%;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: white;
    gap: 80px;
}
.aboutPhoto img{
    height: 275px;
    border-radius: 10px;
    border: solid 3px #b0b0b0;
}

button {
    background-color: #3882f6;
    border: 0;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

#infoSection {
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    flex: 1;
    justify-content: space-around;
    background-color: none;
    color: #1f2937;
    gap: 80px;
    margin: 0 25px;
}

.infoTitle {
    display: flex;
    justify-content: center;
   
}

.infoPhotos {
    display: flex;
    /* margin: 10px; */
    justify-content: space-around;
}

#infoSection div img {
    height: 150px;
    border-radius: 10px;
    border: solid 3px #3882f6;
}

#quote {
    display: flex;
    padding: 5% 25%;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    background-color: #bebebe;
    color: #1f2937;
    gap: 10px;
    
}

b {
    display: flex;
    flex:1;
    justify-content: flex-end;
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 30px;
}